.grid-header-cell,
.grid-row-cell {
  padding-left: 1em;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.grid-row,
.grid-header {
  background-color: #fff;
  display: flex;
}

.grid-row {
  position: absolute;
}

.grid-header-container {
  border-bottom: 2px solid lightgray;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.grid-header-cell:hover {
  background-color: #f3f3f3;
}

.grid-header-cell:active {
  background-color: #e7e7e7;
}

.grid-row-container {
  overflow: auto;
  position: relative;
}

.grid-row-odd {
  background-color: #f3f3f3;
}

.grid-sort-icon:not(.grid-sort-active) {
  display: none;
}

.grid-header-cell .grid-sort-icon {
  animation: transform 0.5s;
  padding-left: 0.5ch;
}

.grid-header-cell:hover .grid-sort-icon,
.grid-sort-active {
  display: inline-block;
}

.grid-row-cell-edit {
  display: none;
}

.grid-row-cell:hover .grid-row-cell-edit {
  display: inline-flex;
}
