$base-colour: #ffffff;
$dark-colour: #f3f3f3;
$hover-colour: #dfdfdf;
$border-colour: lightgray;

// Grid containers
.grid-container {
  max-width: 100%;
}

.grid-header-container {
  border-bottom: 2px solid $border-colour;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.grid-row-container {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

// Grid rows
.grid-row,
.grid-header {
  background-color: $base-colour;
  display: flex;
  position: absolute;
}

.grid-row {
  text-decoration: none;
  color: inherit !important;
}

.grid-row-odd {
  background-color: $dark-colour;
}

// Don't allow styling on action-able rows
.grid-row-clickable {
  cursor: pointer;
}

.grid-row-clickable.grid-row-odd:hover {
  background-color: $hover-colour;
}

.grid-row-clickable.grid-row:hover {
  background-color: $hover-colour;
}

// Grid cells
.grid-header-cell,
.grid-row-cell {
  padding: 0 0.75em;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.grid-row-cell {
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

[role="gridcell"] {
  margin: auto 0;
}

.grid-header-cell:hover {
  background-color: $hover-colour;
}

.grid-sort-icon:not(.grid-sort-active) {
  display: none;
}

.grid-sort-icon {
  padding-left: 0.5ch;
}

.grid-header-cell:hover .grid-sort-icon,
.grid-sort-active {
  display: inline-block;
}

.grid-header-resize {
  width: max(0.5em, 10px);
  height: 100%;
  margin-left: auto;
  cursor: e-resize !important;
}

.grid-row-cropper {
  overflow: hidden;
}

.grid-row-center-wrapper {
  flex: 1 1 auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}