// Grid containers
.grid-container {
  max-width: 100%;
}

.grid-header-container {
  border-bottom: 2px solid lightgray;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.grid-row-container {
  overflow: auto;
  position: relative;
}


// Grid rows
.grid-row,
.grid-header {
  background-color: #fff;
  display: flex;
}

.grid-row {
  position: absolute;
  text-decoration: none;
  color: inherit !important;
}

.grid-row-odd {
  background-color: #f3f3f3;
}

// Don't allow styling on action-able rows
.grid-row-clickable {
  cursor: pointer;
}

.grid-row-clickable.grid-row-odd:hover {
  background-color: #dfdfdf;
}

.grid-row-clickable.grid-row:hover {
  background-color: #dfdfdf;
}

// Grid cells
.grid-header-cell,
.grid-row-cell {
  padding-left: 1em;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.grid-row-cell {
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

[role="gridcell"] {
  margin: auto 0;
}

.grid-header-cell:hover {
  background-color: #f3f3f3;
}

.grid-header-cell:active {
  background-color: #e7e7e7;
}

.grid-sort-icon:not(.grid-sort-active) {
  display: none;
}

.grid-sort-icon {
  padding-left: 0.5ch;
}

.grid-header-cell:hover .grid-sort-icon,
.grid-sort-active {
  display: inline-block;
}