html {
  overflow: auto;
}

.capitalise {
  text-transform: capitalize;
}

.flex-justify-start {
  justify-content:start;
}

.flex-justify-centre {
  justify-content:center;
}

.flex-justify-end {
  justify-content:end;
}